* {
  font-family: "Muli", "Lucida Console", Monospace;
}

body {
   background-image:url('http://brandonpurvis.com/images/controllers2.png');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
}

.main {
  color:white;
  font-size:5em;
}

.pulsate {
    -webkit-animation: pulsate 30s ease-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    opacity: 0.5;
}

.big {
  color:white;
  font-size:3em;
}

.bigger {
  color:white;
  font-size:4em;
}

.grid {
  display: grid;
  grid-template-column: 3fr;
  grid-gap: 1em;
  grid-auto-flow: column dense;

}

.grid img {
  width: 100%;
}

.card {
  background-color: #6f6f6f;
  box-shadow: 0 4px 8px 0 rgb(74, 74, 74);
  transition: 0.3s;
  padding: 1em;
  width:300px;
}

@-webkit-keyframes pulsate {
    0% {
        opacity: 0.0;
    }
    75% {
        opacity: 0.95;
    }
    100% {
        opacity: 0.0;
    }
}